Pierre Nugues
Chapter 1

In [1]:
a = 1
b = 2 
b + 1

3

In [2]:
c = a / (b + 1)
c

0.3333333333333333

In [3]:
text = 'Result:'

In [4]:
print(text, c)

Result: 0.3333333333333333

In [5]:
for i in [1, 2, 3, 4, 5, 6]:
    print(i)
print('Done')

1
2
3
4
5
6
Done

In [6]:
for i in [1, 2, 3, 4, 5, 6]:
    if i % 2 == 0:
        print('Even:', i)
    else:
        print('Odd:', i)
print('Done')

Odd: 1
Even: 2
Odd: 3
Even: 4
Odd: 5
Even: 6
Done

In [7]:
iliad = """Sing, O goddess, the anger of Achilles son of
Peleus, that brought countless ills upon the Achaeans."""
iliad

'Sing, O goddess, the anger of Achilles son of\nPeleus, that brought countless ills upon the Achaeans.'

In [8]:
iliad2 = 'Sing, O goddess, the anger of Achilles son of \
Peleus, that brought countless ills upon the Achaeans.'
iliad2

'Sing, O goddess, the anger of Achilles son of Peleus, that brought countless ills upon the Achaeans.'

In [9]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
alphabet[0] # ’a’
alphabet[1] # ’b’
alphabet[25] # ’z’

'z'

In [10]:
alphabet[-1] # the last character of a string: ’z’
alphabet[-2] # the second last: ’y’
alphabet[-26] # ’a’

'a'

In [11]:
len(alphabet)

26

In [12]:
'abc' + 'def'
'abc' * 3

'abcabcabc'

In [13]:
''.join(['abc', 'def', 'ghi'])
' '.join(['abc', 'def', 'ghi'])
', '.join(['abc', 'def', 'ghi'])

'abc, def, ghi'

In [14]:
accented_e = 'eéèêë'
accented_e.upper() # ’EÉÈÊË’

'EÉÈÊË'

In [15]:
accented_E = 'EÉÈÊË'
accented_E.lower() # ’eéèêë’

'eéèêë'

In [16]:
alphabet.find('def') # 3
alphabet.find('é') # -1
alphabet.replace('abc', 'αβγ')

'αβγdefghijklmnopqrstuvwxyz'

In [17]:
text_vowels = ''
for i in iliad:
    if i in 'aeiou':
        text_vowels = text_vowels + i
print(text_vowels)

ioeeaeoieooeeuaououeiuoeaea

In [18]:
alphabet[0:3] # the three first letters of alphabet: ’abc’
alphabet[:3] # equivalent to alphabet[0:3]
alphabet[3:6] # substring from index 3 to index 5: ’def’
alphabet[-3:] # the three last letters of alphabet: ’xyz’
alphabet[10:-10] # ’klmnop’
alphabet[:] # all the letters: ’a...z’

'abcdefghijklmnopqrstuvwxyz'

In [19]:
alphabet[:3] + alphabet[3:]

'abcdefghijklmnopqrstuvwxyz'

In [20]:
print('\N{COMMERCIAL AT}') # ’@’
print('\x40') # ’@’
print('\100') # ’@’
print('\u0152') # ’Œ’

@
@
@
Œ

In [21]:
print(r'\N{COMMERCIAL AT}')
print(r'\x40')
print(r'\100')
print(r'\u0152')

\N{COMMERCIAL AT}
\x40
\100
\u0152

In [22]:
begin = 'my'
'{} string {}'.format(begin, 'is empty')

'my string is empty'

In [23]:
begin = 'my'
'{1} string {0}'.format(begin, 'is empty')

'is empty string my'

In [24]:
type(alphabet) # <class ’str’>
type(12) # <class ’int’>
type('12') # <class ’str’>
type(12.0) # <class ’float’>
type(True) # <class ’bool’>
type(1 < 2) # <class ’bool’>
type(None) # <class ’NoneType’>

NoneType

In [25]:
list1 = []
list2 = [1,2,3]
list2[1] # 2
list2[1] = 8
list2 # [1, 8, 3]
#list2[4] # Index error

[1, 8, 3]

In [26]:
var1 = 3.14
var2 = 'my string'
list3 = [1, var1, 'Prolog', var2]
list3

[1, 3.14, 'Prolog', 'my string']

In [27]:
list3[1:3] # [3.14, ’Prolog’]
list3[1:3] = [2.72, 'Perl', 'Python']
list3

[1, 2.72, 'Perl', 'Python', 'my string']

In [28]:
list4 = [list2, list3]
list4

[[1, 8, 3], [1, 2.72, 'Perl', 'Python', 'my string']]

In [29]:
list4[0][1]
list4[1][3]

'Python'

In [30]:
list5 = list2
[v1,v2,v3] = list5
v2

8

In [31]:
list2 = [1,8,3]
list2 # [1, 8, 3]
list3[:-1] # [1, 2.72, ’Perl’, ’Python’]
[1, 2, 3] + ['a', 'b'] # [1, 2, 3, ’a’, ’b’]
list2[:2] + list3[2:-1] # [1, 8, ’Perl’, ’Python’]
list2 * 2 # [1, 8, 3, 1, 8, 3]
[0.0] * 4 # Initializes a list of four 0.0s

[0.0, 0.0, 0.0, 0.0]

In [32]:
list2 # [1, 8, 3]
list2[1] = 2 # [1, 2, 3]
len(list2) # 3
list2.extend([4, 5]) # [1, 2, 3, 4, 5]
list2.append(6) # [1, 2, 3, 4, 5, 6]
list2.append([7, 8]) # [1, 2, 3, 4, 5, 6, [7, 8]]
list2.pop(-1) # [1, 2, 3, 4, 5, 6]
list2.remove(1) # [2, 3, 4, 5, 6]
list2.insert(0, 'a')
list2

['a', 2, 3, 4, 5, 6]

In [33]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [34]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [35]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [36]:
tuple1 = () # An empty tuple
tuple1 = tuple() # Another way to create an empty tuple
tuple2 = (1, 2, 3, 4)
tuple2[3] # 4
tuple2[1:4] # (2, 3, 4)

(2, 3, 4)

In [37]:
type((1))

int

In [38]:
type((1,))

tuple

In [39]:
list6 = ['a', 'b', 'c']
tuple3 = tuple(list6) # conversion to a tuple: (’a’, ’b’, ’c’)
type(tuple3) # <class ’tuple’>
list7 = list(tuple2) # [1, 2, 3, 4]
tuple([1]) # (1,)
# conversion to a tuple of one item
list((1,))

[1]

In [43]:
tuple4 = (tuple2, list6) # ((1, 2, 3, 4), [’a’, ’b’, ’c’])
tuple4[0] # (1, 2, 3, 4),
tuple4[1] # [’a’, ’b’, ’c’]
tuple4[0][2] # 3
tuple4[1][1] # ’b’
tuple4[1][1] = 'β' # ((1, 2, 3, 4), [’a’, ’β’, ’c’])
tuple4

((1, 2, 3, 4), ['a', 'β', 'c'])

In [46]:
set1 = set() # An empty set
set2 = {'a', 'b', 'c', 'c', 'b'} # {’a’, ’b’, ’c’}
set2.add('d') # {’a’, ’b’, ’c’, ’d’}
set2.remove('a')
set2

{'b', 'c', 'd'}

In [50]:
list8 = ['a', 'b', 'c', 'c', 'b']
set3 = set(list8) # {’a’, ’b’, ’c’}
iliad_chars = set(iliad.lower())

In [51]:
sorted(iliad_chars)

['\n',
 ' ',
 ',',
 '.',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u']

In [54]:
wordcount = {} # We create an empty dictionary
wordcount = dict() # Another way to create a dictionary
wordcount['a'] = 21 # The key ’a’ has value 21
wordcount['And'] = 10 # ’And’ has value 10
wordcount['the'] = 18
wordcount

{'a': 21, 'And': 10, 'the': 18}

In [56]:
'And' in wordcount

True

In [57]:
'is' in wordcount

False

In [62]:
wordcount.get('And')

10

In [63]:
wordcount.keys()

dict_keys(['a', 'And', 'the'])

In [64]:
wordcount.values()

dict_values([21, 10, 18])

In [65]:
wordcount.items()

dict_items([('a', 21), ('And', 10), ('the', 18)])

In [67]:
letter_count = {}
for letter in iliad.lower():
    if letter in alphabet:
        if letter in letter_count:
            letter_count[letter] += 1
        else:
            letter_count[letter] = 1
letter_count

{'s': 10,
 'i': 3,
 'n': 6,
 'g': 4,
 'o': 8,
 'd': 2,
 'e': 9,
 't': 6,
 'h': 6,
 'a': 6,
 'r': 2,
 'f': 2,
 'c': 3,
 'l': 6,
 'p': 2,
 'u': 4,
 'b': 1}

In [69]:
for letter in sorted(letter_count.keys()):
    print(letter, letter_count[letter])

a 6
b 1
c 3
d 2
e 9
f 2
g 4
h 6
i 3
l 6
n 6
o 8
p 2
r 2
s 10
t 6
u 4

In [71]:
for letter in sorted(letter_count.keys(), key=letter_count.get, reverse=True):
    print(letter, letter_count[letter])

s 10
e 9
o 8
n 6
t 6
h 6
a 6
l 6
g 4
u 4
i 3
c 3
d 2
r 2
f 2
p 2
b 1

In [73]:
sum = 0
for i in range(100):
    sum += i
print(sum)

4950

In [75]:
list10 = list(range(5))
list10

[0, 1, 2, 3, 4]

In [77]:
for idx, letter in enumerate(alphabet): 
    print(idx, letter)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

In [79]:
sum, i = 0, 0
while i < 100:
    sum += i
    i += 1
print(sum)

4950

In [81]:
while True:
    sum += i
    i += 1
    if i >= 100:
        break
print(sum)

5050

In [85]:
try:
    int(alphabet)
    int('12.0')
except:
    pass
print('Cleared the exception')

Cleared the exception

In [90]:
try:
    int(alphabet)
    int('12.0')
except ValueError:
    print('Caught a value error')
except TypeError:
    print('Caught a type error!')

Caught a value error

In [91]:
def count_letters(text, lc=True):
    letter_count = {}
    if lc:
        text = text.lower()
    for letter in text:
        if letter.lower() in alphabet:
            if letter in letter_count:
                letter_count[letter] += 1
            else:
                letter_count[letter] = 1
    return letter_count

In [92]:
count_letters(iliad, True)

{'s': 10,
 'i': 3,
 'n': 6,
 'g': 4,
 'o': 8,
 'd': 2,
 'e': 9,
 't': 6,
 'h': 6,
 'a': 6,
 'r': 2,
 'f': 2,
 'c': 3,
 'l': 6,
 'p': 2,
 'u': 4,
 'b': 1}

In [96]:
word = 'acress'
splits = [(word[:i], word[i:]) for i in range(len(word) + 1)]
splits

[('', 'acress'),
 ('a', 'cress'),
 ('ac', 'ress'),
 ('acr', 'ess'),
 ('acre', 'ss'),
 ('acres', 's'),
 ('acress', '')]

In [98]:
deletes = [a + b[1:] for a, b in splits if b]
deletes

['cress', 'aress', 'acess', 'acrss', 'acres', 'acres']

In [100]:
splits = []
for i in range(len(word) + 1):
    splits.append((word[:i], word[i:]))
splits

[('', 'acress'),
 ('a', 'cress'),
 ('ac', 'ress'),
 ('acr', 'ess'),
 ('acre', 'ss'),
 ('acres', 's'),
 ('acress', '')]

In [104]:
splits_generator = ((word[:i], word[i:]) for i in range(len(word) + 1))
for i in splits_generator: print(i)

('', 'acress')
('a', 'cress')
('ac', 'ress')
('acr', 'ess')
('acre', 'ss')
('acres', 's')
('acress', '')

In [105]:
def splits_generator_function():
    for i in range(len(word) + 1):
        yield (word[:i], word[i:])

In [107]:
splits_generator = splits_generator_function()

In [117]:
latin_alphabet = 'abcdefghijklmnopqrstuvwxyz'
len(latin_alphabet) # 26
greek_alphabet = 'αβγδεζηθικλμνξοπρστυφχψω'
len(greek_alphabet) # 24
cyrillic_alphabet = 'абвгдеёжзийклмнопрстуфхцчшщъыьэюя'
len(cyrillic_alphabet) # 33

33

In [122]:
la_gr = zip(latin_alphabet[:3], greek_alphabet[:3])

la_gr_cy = zip(latin_alphabet[:3], greek_alphabet[:3], cyrillic_alphabet[0:3])

In [123]:
la_gr.__next__()
la_gr.__next__()
la_gr.__next__()

('c', 'γ')

In [124]:
la_gr_cy_list = list(la_gr_cy)
la_gr_cy_list

[('a', 'α', 'а'), ('b', 'β', 'б'), ('c', 'γ', 'в')]

In [125]:
la_gr_cy_list = list(la_gr_cy)
la_gr_cy_list

[]

In [126]:
zip(*la_gr_cy_list)

In [127]:
import math
math.sqrt(2) # 1.4142135623730951
math.sin(math.pi/2) # 1.0
math.log(8, 2)

3.0

In [129]:
import statistics as stats
stats.mean([1, 2, 3, 4, 5])
stats.stdev([1, 2, 3, 4, 5])

1.5811388300841898

In [132]:
if __name__ == '__main__':
    print("Running the program")
    # Other statements
else:
    print("Importing the program")
#

Running the program

In [135]:
def fibonacci(n):
    if n == 1: return 1
    elif n == 2: return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

In [136]:
fibonacci(10)

55

In [139]:
f_numbers = {}
def fibonacci2(n):
    if n == 1: return 1
    elif n == 2: return 1
    elif n in f_numbers:
        return f_numbers[n]
    else:
        f_numbers[n] = fibonacci2(n - 1) + fibonacci2(n - 2)
        return f_numbers[n]

In [140]:
fibonacci2(10)

55

In [142]:
def memo_function(f):
    cache = {}
    def memo(x):
        if x in cache:
            return cache[x]
        else:
            cache[x] = f(x)
            return cache[x]
    return memo

In [145]:
fibonacci = memo_function(fibonacci)

In [148]:
@memo_function
def fibonacci(n):
    if n == 1: return 1
    elif n == 2: return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

In [152]:
class Text:
    """Text class to hold and process text"""
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    
    def __init__(self, text=None):
        """The constructor called when an object is created"""
        self.content = text
        self.length = len(text)
        self.letter_counts = {}
    
    def count_letters(self, lc=True):
        """Function to count the letters of a text"""
        letter_counts = {}
        if lc:
            text = self.content.lower()
        else:
            text = self.content
        for letter in text:
            if letter.lower() in self.alphabet:
                if letter in letter_counts:
                    letter_counts[letter] += 1
                else:
                    letter_counts[letter] = 1
        self.letter_counts = letter_counts
        return letter_counts

In [153]:
txt = Text("""Tell me, O Muse, of that many-sided hero who
traveled far and wide after he had sacked the famous town
of Troy.""")

In [154]:
type(txt)

__main__.Text

In [156]:
txt.length

111

In [159]:
class Word(Text):
    def __init__(self, word=None):
        super().__init__(word)
        self.part_of_speech = None
        
    def annotate(self, part_of_speech):
        self.part_of_speech = part_of_speech

In [160]:
word = Word('Muse')

In [161]:
word.length

4

In [162]:
word.count_letters(lc = False)

{'M': 1, 'u': 1, 's': 1, 'e': 1}

In [165]:
word.annotate('Noun')
word.part_of_speech

'Noun'

In [166]:
odyssey = """Tell me, O Muse, of that many-sided hero who
traveled far and wide after he had sacked the famous town
of Troy."""

In [167]:
text_lengths = map(len, [iliad, odyssey])
list(text_lengths)

[100, 111]

In [170]:
''.join(filter(lambda x : x in 'aeiou', iliad))

'ioeeaeoieooeeuaououeiuoeaea'